html {
  font-size: 1.1rem;
}
body {
  padding: 0 !important;
  margin: 0 !important;
  background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
  background-repeat: no-repeat;
  min-height: 100vh !important;
}

.component {
  min-height: 100vh !important;
}
